* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0D1B2A;
}

header {
    background-color: #0D1B2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div * {
    color: white;
    font-weight: bold;
}

header div *:hover {
    color: #778DA9;
    cursor: pointer;
}

.navBar {
    display: flex;
}

header .navBar h2 {
    padding: 5px;
}

.landingPresentation {
    background-image: url("https://img.freepik.com/premium-vector/purple-web-development-background_76964-167.jpg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingPresentation h1{
    margin-top: 100px;
}

.landingPresentation p{
    font-weight: bold;
}

.landingPresentation button{
    background: linear-gradient(0deg, #415A77, #778DA9);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    margin-bottom: 100px;
}

.landingPresentation button:hover{
    color: #0D1B2A;
    cursor: pointer;
}

.landingProyect {
    background-color: #E0E1DD;
    color: #1B263B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.landingProyect .imageP{
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.landingProyect .imageP img{
    max-width: 100%
}
