* {
    font-family: 'Poppins', sans-serif;
    background-color: #0D1B2A;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header div * {
    color: white;
    font-weight: bold;
}

header div *:hover {
    color: #778DA9;
    cursor: pointer;
}

.navBar {
    display: flex;
}

header .navBar h2 {
    padding: 5px;
}