.pair__container {
  display: flex;
  height: 100vh;
  padding: 0rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.pair {
  display: flex;
  justify-content: space-between;
}

.pair__description {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  align-items: center;
  align-self: stretch;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 20px;
  padding: 0 3rem;
}

.pair__image {
  width: 50%;
  border-radius: 2rem;
}

.pair__description h1 {
  font-size: 3.75rem;
  align-self: flex-start;
  color: #e0e1dd;
  font-weight: 800;
  margin-bottom: 0.625rem;
}

.pair__description p {
  font-size: 1.25rem;
  color: #778da9;
  font-weight: 500;
  margin-bottom: 0.625rem;
  line-height: 200%;
}
