.button__container {
  display: flex;
  width: 25rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.56rem;
  background: #580ef6;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #e0e1dd;
  transition: transform 0.3s ease;
  border: 0px;
}

.button__container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button__container:active {
  transform: scale(0.9);
}