.banner__container {
    background: url("../assets/images/bannerTemplate.jpg") center / cover
      no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: #e0e1dd;
    flex-direction: column;
    text-align: center;
  }
  
  .banner__container a {
    text-decoration: none;
  }
  
  .banner__container__description {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 80%;
  }
  
  .banner__container__description h1 {
    font-size: 4.75rem;
    font-weight: 800;
    margin-bottom: 0.625rem;
  }
  body {
    background-color: #0d1b2a;
  }
  