<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to fav icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />

    <link rel="manifest" href="/assets/site.webmanifest" />
    <link rel="stylesheet" href="/styles/common/button.css" />
    <link rel="stylesheet" href="/styles/error/404.css" />

    <title>Something went wrong!</title>
  </head>
  <body>
    <section class="error__container">
      <h1 class="error__number">404</h1>
      <h2 class="error__quote">¿Te has perdido?</h2>
      <p class="error__message">Lo sentimos pero no podemos encontrar lo que estas buscando :(</p>
      <a href="/">
        <button class="button__container">Inicio</button>
      </a>
    </section>
  </body>
</html>
