body {
  background-color: #0d1b2a;
}

/* Classes */

.numbers__container {
  display: flex;
  height: 10vh;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 11.25rem;
  align-self: stretch;
  background: #1b263b;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number h1 {
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  margin: 0;
}

.number p {
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}
