@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* Styles to tags */
body {
  background-color: #0d1b2a;
}

/* Classes */

.banner__container {
  background: linear-gradient(#2c92ff, #0d1b2a);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #e0e1dd;
  flex-direction: column;
  text-align: center;
}

.banner__container__description {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 80%;
}

.banner__container__description p {
  font-size: 2.75rem;
}

.banner__container__description h1 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
}

.form__card {
  width: 60%;
  background-color: #1b263b;
  border-radius: 3.125rem;
}

.form__card h1 {
  font-size: 3rem;
  color: #778da9;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.form__label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 10px;
  text-align: right;
}

.form__input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 60%;
  height: 2rem;
  text-align: center;
}

.form__textarea{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 60%;
    text-align: center;
    resize: none;
    height: 10rem;
    margin-bottom: 2rem;
}

/* Pseudo-classes */
