@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* Styles to tags */
body {
    background-color: #0D1B2A;
}

form {
    width: 36rem;
    height: 40vh;
    max-width: 100%;
    padding: 2rem;
    background-image: linear-gradient(to right top, #1b263b, #243249, #2e3f58, #374c67, #415a77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2%;
}

input[type="submit"] {
    background-color: #778DA9;
    border: 2px solid white;
    color: white;
    height: 45px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

/* Classes */
.header__container {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.25rem 0 2.25rem;
    height: 10vh;
    text-decoration: none;
}

.name__logo__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e0e1dd;
}

.name__logo__container a {
    text-decoration: none;
    color: #e0e1dd;
}

.logo {
    width: 3rem;
    height: 3rem;
    background-color: aqua;
    border-radius: 50%;
    margin-right: 0.313rem;
}

.navBar {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.navBar a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #e0e1dd;
    margin-left: 0.20rem;
}

.navBar h2 {
    padding: 0.313rem;
}

.banner__container {
  background: linear-gradient(90deg, rgba(44, 146, 255, 0.00) 0%, #0D1B2A 100%);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #e0e1dd;
  flex-direction: column;
  text-align: center;
}

.banner__container__description {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 80%;
}

.banner__container__description p{
  font-size: 2.75rem;

}

.banner__container__description h1 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
}

.button__container {
  display: flex;
  width: 25rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.56rem;
  background: #580ef6;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #e0e1dd;
  transition: transform 0.3s ease;
}

.form__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nameAddress__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.nameAddress__container .name__container {
    display: flex;
    flex-direction: column;
}

.nameAddress__container .address__container {
    display: flex;
    flex-direction: column;
}

.inputName {
    width: 17rem;
    height: 1.5rem;
    border-radius: 5px;
}

.inputAddress {
    width: 17rem;
    height: 1.5rem;
    border-radius: 5px;
}

.inputSubject {
    margin-bottom: 1rem;
    width: 17rem;
    height: 1.8rem;
    border-radius: 5px;
}

#mensaje {
    margin-bottom: 1rem;
    height: 8rem;
    border-radius: 5px;
}

.title__container h1 {
    font-size: 3rem;
    color: #778DA9;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.separator {
    width: 39rem;
    margin-bottom: 1rem;
}

/* Pseudo-classes */
input[type="submit"]:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.05);
}

.navBar a:hover {
    color: #580ef6;
}