@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* Styles to tags */
body {
  background-color: #0d1b2a;
}

/* Classes */
.header__container {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.25rem 0 2.25rem;
  height: 10vh;
  text-decoration: none;
}

.name__logo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e0e1dd;
}

.name__logo__container a {
  text-decoration: none;
  color: #e0e1dd;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 0.313rem;
}

.navBar {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.navBar a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #e0e1dd;
  margin-left: 0.2rem;
}

.navBar h2 {
  padding: 0.313rem;
}

.banner__container {
  background: linear-gradient(#2c92ff, #0d1b2a);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #e0e1dd;
  flex-direction: column;
  text-align: center;
}

.banner__container__description {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 80%;
}

.banner__container__description p {
  font-size: 2.75rem;
}

.banner__container__description h1 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
}

.button__container {
  display: flex;
  width: 25rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.56rem;
  background: #580ef6;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #e0e1dd;
  transition: transform 0.3s ease;
  border: 0px;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
}

.form__card {
  width: 60%;
  background-color: #1b263b;
  border-radius: 3.125rem;
}

.form__card h1 {
  font-size: 3rem;
  color: #778da9;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form__questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.form__label {
  font-size: 1.5rem;
  font-weight: 600;
  padding-right: 10px;
  text-align: right;
}

.form__input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 60%;
  height: 2rem;
  text-align: center;
}

.form__textarea{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 60%;
    text-align: center;
    resize: none;
    height: 10rem;
    margin-bottom: 2rem;
}

.form-submit {
  align-self: flex-end;
}

.footer__container__icons {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0rem 2.25rem;
  align-items: center;
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer__container__icons img {
  width: 3rem;
  height: 3rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* Pseudo-classes */
input[type="submit"]:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.05);
}

.navBar a:hover {
  color: #580ef6;
}
