<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to fav icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/common/header.css" />
    <link rel="stylesheet" href="/styles/common/footer.css" />
    <link rel="stylesheet" href="/styles/common/pair.css" />
    <link rel="stylesheet" href="/styles/deployment.css" />
    <link rel="stylesheet" href="/styles/architecture.css" />
    <title>Arquitectura</title>
  </head>

  <body>
    <header>
      <div class="header__container">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="/index.html">
            <h1>Yordles</h1>
          </a>
        </div>
        <nav class="navBar">
          <a href="/about-us.html">Nosotros</a>
          <a href="/project-description.html">Proyecto</a>
          <a href="/form.html">Contáctanos</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="banner">
        <section class="pair__container">
          <div class="pair">
            <div class="pair__description title__container">
              <h1 class="banner__title">Arquitectura del Proyecto</h1>
              <p>Modelos y diagramas para el desarrollo del proyecto</p>
            </div>
            <img
              src="/assets/images/website-design-product.webp"
              alt="project image"
              class="pair__image architecture"
            />
          </div>
        </section>
      </div>
      <section class="pair__container">
        <div class="pair">
          <img
            src="/assets/images/ArquitecturaProyectoJaveriaba-Conceptual.drawio.png"
            alt="project image"
            class="pair__image"
          />
          <div class="pair__description">
            <h1 class="title">Modelo conceptual</h1>
            <p>
              El modelo conceptual describe la estructura y las relaciones clave
              de un sistema de gestión de música en línea. Incluye entidades
              como "Usuario", "Canción", "Lista de Reproducción" y
              "Administrador". Los usuarios pueden "dar like" a las canciones, y
              los administradores pueden crear y gestionar listas de
              reproducción. Las relaciones principales son "Usuario da Like a
              Canción" y "Administrador crea Lista de Reproducción". Este modelo
              ayuda a comprender la lógica básica del sistema.
            </p>
          </div>
        </div>
      </section>
      <section class="pair__container">
        <div class="pair">
          <div class="pair__description">
            <h1 class="title">Modelo contenedores</h1>
            <p>
              En el contexto de contenedores, se pueden usar tecnologías como
              angular para frontend y SpringBoot para backend para implementar
              el sistema de gestión de música en línea. Cada componente del
              sistema, como la aplicación web, la base de datos y los servidores
              de aplicación, se empaqueta en contenedores independientes. Esto
              facilita la escalabilidad, la administración y la implementación
              eficiente.
            </p>
          </div>
          <img
            src="/assets/images/ArquitecturaProyectoJaveriaba-Contenedores.drawio-1024x838.png"
            alt="project image"
            class="pair__image"
          />
        </div>
      </section>
      <section class="pair__container">
        <div class="pair">
          <img
            src="/assets/images/ArquitecturaProyectoJaveriaba-Componentes.drawio-1024x576.png"
            alt="project image"
            class="pair__image"
          />
          <div class="pair__description">
            <h1 class="title">Modelo componente</h1>
            <p>
              El componente de una página web en el sistema de gestión de música
              en línea incluye todos los elementos que interactúan para brindar
              una experiencia completa a los usuarios. En el frontend, se
              encuentran los elementos de la interfaz de usuario, como botones
              de "like", listas de reproducción, reproductor de música y
              formularios de registro/inicio de sesión. Estos elementos se
              implementan utilizando tecnologías web como HTML, CSS y
              JavaScript. En el backend, hay componentes que gestionan la lógica
              del sistema, como la autenticación de usuarios, la gestión de
              listas de reproducción, la gestión de canciones y la interacción
              con la base de datos. Estos componentes están escritos en
              lenguajes de programación como Python, Ruby o Node.js y se
              ejecutan en servidores web. El despliegue implica la
              implementación de estos componentes en servidores, ya sea en una
              infraestructura local o en la nube utilizando servicios como AWS,
              Azure o Google Cloud.
            </p>
          </div>
        </div>
      </section>
      <section class="pair__container">
        <div class="pair">
          <img
                  src="/assets/images/db-music-list-EER.svg"
                  alt="project image"
                  class="pair__image"
          />
          <div class="pair__description">
            <h1 class="title">Modelo de la base de datos</h1>
            <p>
              Estamos utilizando MySQL como nuestra base de datos. Utilizamos
              MySQL Workbench para visualizar y diseñar la base de datos, y
              también con Spring Boot generamos el esquema de la base de datos a
              partir de nuestros modelos. Implementamos algunos disparadores y
              procedimientos almacenados para gestionar lógica directamente en la
              base de datos. Finalmente, desplegamos la base de datos en AWS RDS.
            </p>
          </div>
        </div>
      </section>
      <section class="pair__container" style="margin: 8rem">
        <div class="pair">
          <img
                  src="/assets/images/musiclist_class_diagram.png"
                  alt="project image"
                  class="pair__image"
          />
          <div class="pair__description">
            <h1 class="title">Diagrama de clases - Diccionario de datos</h1>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__container__icons">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="">
            <h1>Yordles</h1>
          </a>
        </div>
        <a
          href="https://github.com/carlosantiagorojas/WikiGroup"
          target="_blank"
        >
          <img src="/assets/images/Github.svg" alt="GitHub logo" />
        </a>
      </div>
      <hr />
      <h2 class="copyright">© 2023 Yordles, Inc. All rights reserved.</h2>
    </footer>
  </body>
</html>
