<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to fav icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <!-- Links to styles -->
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/common/header.css" />
    <link rel="stylesheet" href="/styles/common/footer.css" />
    <link rel="stylesheet" href="/styles/common/button.css" />
    <link rel="stylesheet" href="/styles/common/pair.css" />
    <link rel="stylesheet" href="/styles/requirements.css" />

    <title>Requerimientos</title>
  </head>

  <body>
    <header>
      <div class="header__container">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="/">
            <h1>Yordles</h1>
          </a>
        </div>
        <nav class="navBar">
          <a href="/about-us">Nosotros</a>
          <a href="/project">Proyecto</a>
          <a href="/contact-us">Contáctanos</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="banner__container">
        <div class="banner__container__description">
          <h1>Historias de usuario</h1>
          <p>
            Requerimientos de los usuario votante y administrado para el
            proyecto
          </p>
        </div>
      </section>

      <section class="cards__container">
        <section>
          <div class="cards__container__description">
            <p>Historias de usuario principales para el usuario votante</p>
          </div>
        </section>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Creación de cuenta</h3>
            </div>
            <div class="face back">
              <h3>Creación de cuenta</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Activación de cuenta</h3>
            </div>
            <div class="face back">
              <h3>Activación de cuenta</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Activación de cuenta</h3>
            </div>
            <div class="face back">
              <h3>Activación de cuenta</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Ver listas por género musical</h3>
            </div>
            <div class="face back">
              <h3>Ver listas por género musical</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Buscar canción</h3>
            </div>
            <div class="face back">
              <h3>Buscar canción</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Votar/Desvotar</h3>
            </div>
            <div class="face back">
              <h3>Votar/Desvotar</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="cards__container2">
        <section>
          <div class="cards__container__description2">
            <p>Historias de usuario principales para el usuario votante</p>
          </div>
        </section>

        <div>
          <div class="card2" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>Autenticación</h3>
            </div>
            <div class="face back">
              <h3>Autenticación</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card2" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>CRUD Generos</h3>
            </div>
            <div class="face back">
              <h3>CRUD Generos</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div>
          <div class="card2" href="">
            <div class="face front">
              <img src="/assets/images/cardTemplate2.svg" alt="card image" />
              <h3>CRUD Canciones</h3>
            </div>
            <div class="face back">
              <h3>CRUD Canciones</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer__container__icons">
        <div class="name__logo__container">
          <div class="logo"></div>
          <a href="">
            <h1>Yordles</h1>
          </a>
        </div>
        <a
          href="https://github.com/carlosantiagorojas/WikiGroup"
          target="_blank"
        >
          <img src="/assets/images/Github.svg" alt="GitHub logo" />
        </a>
      </div>
      <hr />
      <h2 class="copyright">© 2023 Yordles, Inc. All rights reserved.</h2>
    </footer>
  </body>
</html>
